apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klage-kodeverk-api
  namespace: klage
  labels:
    team: klage
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100M"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
spec:
  image: {{image}}
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  azure:
    application:
      enabled: true
      tenant: {{tenant}}
      allowAllUsers: true
  port: 7081
  startup:
    failureThreshold: 3
    initialDelay: 10
    path: /internal/health
    periodSeconds: 5
    timeout: 2
  liveness:
    path: /internal/health
    timeout: 3
    periodSeconds: 5
    failureThreshold: 3
  readiness:
    path: /internal/health
    timeout: 3
  resources:
    limits:
      memory: 576Mi
    requests:
      cpu: 10m
      memory: 576Mi
  replicas:
    min: 2
    max: 2
    cpuThresholdPercentage: 80
  prometheus:
    enabled: true
    path: /internal/prometheus
  {{#if ingresses}}
  ingresses:
  {{#each ingresses as |ingress|}}
    - {{ingress}}
  {{/each}}
  {{/if}}
  accessPolicy:
    inbound:
      rules:
        - application: kaka-frontend
        - application: kabal-frontend
        - application: klage-dittnav
        - application: kabin
        - application: mine-klager
        - application: kaptein
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}